/* section video sfondo - altezza video
/* nota: vedi anche designesia.js riga 316
/* -------------------------------------------------- */

#bgvidcontainer {
  height: 100vh;
}

#bgvid {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Scritta woodvivors, fix varie dimensioni schermo*/
#bgvidcontainer img {
  width: 20%;

}
@media (max-width: 2700px) {
  #bgvidcontainer img {
    width: 15%;
  }
}
@media (max-width: 1800px) {
  #bgvidcontainer img {
    width: 22%;
  }
}
@media (max-width: 1280px) {
  #bgvidcontainer img {
    width: 30%;
  }
}
@media (max-width: 992px) {
  #bgvidcontainer img {
    width: 40%;
  }
}
@media (max-width: 400px) {
  #bgvidcontainer img {
    width: 80%;
  }
}


/* LOGO Mulello */

#logo .logo-1 {
  display: inline-block;
  height: 90px;
  width: auto;
}

/* Tastino eng/ita */

#mainmenu li.language-eng .language-link {
  padding-left: 0 !important;
}

#mainmenu li.language-eng .language-link:hover {
  color: #ffffff;
}
.smaller nav li.language-eng .language-link:hover {
  color:#282828 !important;
}

#mainmenu li.language-eng img {
  max-height: 13px;
  padding-left: 14px;
  opacity: 64%;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

#mainmenu li.language-eng .language-link:hover > img {
  opacity: 100%;
}

/* Tastino donate */

#mainmenu li.donate {
  display:none;
}

#mainmenu li.donate .donate-link {
  padding-left: 0 !important;
}

#mainmenu li.donate .donate-link:hover {
  color: #ffffff;
}
.smaller nav li.donate .donate-link:hover {
  color:#282828 !important;
}

#mainmenu li.donate img {
  max-height: 25px;
  padding-left: 14px;
  opacity: 64%;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

#mainmenu li.donate .donate-link:hover > img {
  opacity: 100%;
}

/*Tasto presente solo su mobile*/
@media only screen and (max-width: 992px) {
  #mainmenu li.donate {
    display: inline;
  }
}


/* Main menu
/* -------------------------------------------------- */
#mainmenu {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.menucolor {
  text-shadow: 1px 1px 0px #4A4A4A;
}

.smaller nav a {
  text-shadow: none;
}

/*fix logo e menu agli angoli su schermi grandi*/
@media (min-width: 1460px) {
  .large-on-large-screens {
    width: 1400px;
  }
}
@media (min-width: 1760px) {
  .large-on-large-screens {
    width: 1700px;
  }
}
@media (min-width: 2060px) {
  .large-on-large-screens {
    width: 2000px;
  }
}
@media (min-width: 2360px) {
  .large-on-large-screens {
    width: 2300px;
  }
}
@media (min-width: 2760px) {
  .large-on-large-screens {
    width: 2660px;
  }
}
@media (min-width: 3100px) {
  .large-on-large-screens {
    width: 3000px;
  }
}
@media (min-width: 4000px) {
  .large-on-large-screens {
    width: 3850px;
  }
}
/* Accrocchio sezione contatti */

#section-contact{
background-color: #5eade5;
background-size:cover;
color: #e5ecf4;
padding: 90px 0 0 0;
}

#section-contact h1 {
color: #e5ecf4;
font-size: 60px;
margin-bottom: 15px;
}

#section-contact h3 {
color: #e5ecf4;
font-size: 22px;
margin-bottom: 40px;
}

#section-contact .riferimenti {
color: #e5ecf4;
font-size: 20px;
}

#section-contact a {
  color: #e5ecf4;
}

@media (max-width: 992px) {
  #section-contact .riferimenti {
  font-size: 18px;
  }
}

@media (max-width: 767px) {
  #section-contact .riferimenti {
  font-size: 17px;
  }
}

@media (max-width: 480px) {
  #section-contact .riferimenti {
  font-size: 16px;
  }
}

@media (max-width: 330px) {
  #section-contact .riferimenti {
  font-size: 13px;
  }
}

#section-contact .riferimenti i {
float: none;
margin-bottom: 15px;
}

#section-contact .struma {
padding-top: 10px;
font-size: 30px;
line-height: 40px;
}

#section-contact .associazione {
color: black;
-webkit-text-fill-color: white;
-webkit-text-stroke-width:1px;
-webkit-text-stroke-color:black;
}

#citazione{
  background-color: #efefef;
}

#video{
  background-color: #F7F7F7;
}

#video2{
  background-color: #54aeec;
}

#video2 iframe{
  padding-top: 50px;
}

/* Sfondi burki */

#sezione-sfondoburk {
  padding: 0;
}

#bg {
  width: 100%;
  height: auto;
}

#sezione-sfondoburk2 {
  padding: 0;
}

#bg2 {
  width: 100%;
  height: auto;
}

/* SOTTOSEZIONE CROWDFUNDING */

#sezione-sfondoburk2 .posternone {
  position: relative;
  text-align: center;
}

#sezione-sfondoburk2 .posternone .testo-centrato {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); /* WebKit */
  -moz-transform: translate(-50%, -50%); /* Mozilla */
  -o-transform: translate(-50%, -50%); /* Opera */
  -ms-transform: translate(-50%, -50%); /* Internet Explorer */
  width: 80%;
}

#sezione-sfondoburk2 .posternone .testo-centrato h1{
  font-size: 30px;
  color: white;
  padding: 10px;
  margin-bottom: 30px;
}

/*Link produzioni dal basso*/
#sezione-sfondoburk2 h1 a:link {
  color: white;
  text-decoration: underline;
}

#sezione-sfondoburk2 h1 a:visited {
  color: white;
}

#sezione-sfondoburk2 h1 a:hover {
  color: #2589db;
}

/*Tasto Sostienici*/
#sezione-sfondoburk2 .button {
  font-family: 'bebas_neueregular';
  font-size: 25px;
  text-decoration: none;
  background-color: transparent;
  color: white;
  padding: 6px 30px 6px 30px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}

#sezione-sfondoburk2 .button:hover {
  padding: 10px 34px 10px 34px;
}

#sezione-sfondoburk2 .fa {
  float: none;
  margin: 0 0 0 9px;
  position: relative;
  bottom: 3px;
  font-size: 18px;
}

/*Sottosezione slitta verso giù per non finire sulle nuvole ;)*/
@media only screen and (max-width: 767px) {
  #sezione-sfondoburk2 .posternone .testo-centrato {
    top: 60%;
  }
}

@media only screen and (max-width: 680px) {
  #sezione-sfondoburk2 .posternone .testo-centrato h1 {
    font-size: 25px;
    margin-bottom: 10px;
  }

  #sezione-sfondoburk2 .button {
    font-size: 20px;
    padding: 6px 30px 6px 30px;
  }
  #sezione-sfondoburk2 .fa {
    bottom: 1px;
  }
}

@media only screen and (max-width: 528px) {
  #sezione-sfondoburk2 .posternone .testo-centrato {
    top: 65%;
    width: 90%;
  }

  #sezione-sfondoburk2 .posternone .testo-centrato h1 {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 450px) {
  #sezione-sfondoburk2 .posternone .testo-centrato h1 {
    font-size: 20px;
  }
  #sezione-sfondoburk2 .button {
    font-size: 15px;
    padding: 5px 15px 5px 20px;
  }
  #sezione-sfondoburk2 .button:hover {
    padding: 10px 18px 10px 23px;
  }
  #sezione-sfondoburk2 .fa {
    font-size: 15px;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 400px) {
  #sezione-sfondoburk2 .posternone .testo-centrato h1 {
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 380px) {
  #sezione-sfondoburk2 .posternone .testo-centrato h1 {
    font-size: 15px;
  }
  #sezione-sfondoburk2 .button {
    font-size: 13px;
  }
  #sezione-sfondoburk2 .fa {
    font-size: 13px;
  }
}

@media only screen and (max-width: 320px) {
  #sezione-sfondoburk2 .posternone .testo-centrato {
    width: 95%;
  }

  #sezione-sfondoburk2 .posternone .testo-centrato h1 {
    margin-bottom: 1px;
  }
}


/* Sezione mappa */

#ilteam2 .same-height-cols-fix {
  display: table;
}

#ilteam2 .same-height-cols-fix .latosx {
  float: none;
  display: table-cell;
}

#ilteam2 .same-height-cols-fix .latodx {
  float: none;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#ilteam2 .bebas {
  font-size: 50px;
  margin-bottom: 20px;
}

#ilteam2 {
  background-color: #efefef;
}

/*Tasto maggiori info*/
.testo-centrato-vert .button {
  font-family: 'bebas_neueregular';
  font-size: 20px;
  text-decoration: none;
  background-color: transparent;
  color: #282828;
  padding: 6px 12px 6px 12px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}

.testo-centrato-vert .button:hover {
  padding: 10px 16px 10px 16px;
}

.testo-centrato-vert .prebutton {
  margin-bottom: 42px;
}

.testo-centrato-vert .fa {
    float: none;
    margin: 0 0 0 9px;
    position: relative;
    bottom: 1px;
    font-size: 18px;
}

@media (max-width: 480px) {
  .testo-centrato-vert .prebutton {
    margin-bottom: 30px;
  }
  .testo-centrato-vert .button {
    font-size: 16px;
  }
  .testo-centrato-vert .fa {
      float: none;
      margin: 0 0 0 9px;
      position: relative;
      bottom: 1px;
      font-size: 12px;
  }
}

@media (max-width: 300px) {
  .testo-centrato-vert .button {
    font-size: 12px;
  }
  .testo-centrato-vert .prebutton {
    margin-bottom: 20px;
  }
}

/*Immagine e testo incolonnate su mobile*/
@media only screen and (max-width: 992px) {
  #ilteam2 .same-height-cols-fix .latosx, #ilteam2 .same-height-cols-fix .latodx {
    display: block!important;
    width: 100%!important;
  }
  #ilteam2 .mappa {
    width: 40%;
    display: block;
    margin: auto;
    margin-bottom: 45px;
  }
  #citazione {
    padding-bottom: 45px;
  }
}

@media only screen and (max-width: 650px) {
  #ilteam2 .mappa {
    width: 55%;
  }
}

@media only screen and (max-width: 400px) {
  #ilteam2 .mappa {
    width: 90%;
  }
}

/*Fallback fullscreen cover image on mobile*/

@media (max-width: 992px) {
    #bgvid {
        display: none;
    }
    #bgvidcontainer {
        background: url('../images/ganci.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .de-video-content img {
      position: relative;
      padding-bottom: 100px;
    }
}

/*Header su mobile: lasciare solo logo e tasto lingua,*/
/*cambio dimensioni logo*/
/*sempre logo nero su mobile*/
@media (max-width: 992px) {
  #mainmenu li {
    display: none;
  }
  #mainmenu .language-eng {
    display: inline;
    font-size: 0;
    bottom: 15px;
  }
  #mainmenu .donate {
    display: inline;
    font-size: 0;
    bottom: 15px;
  }
  #logo .logo-2 {
    height: 60px;
    bottom: 15px;
  }
  #logo .logo-1 {
    display: none;
  }
  header h1#logo .logo-2 {
    display: inline-block;
  }
}

/*Fix generici di font e spaziatura su varie dimensioni schermo*/

@media (max-width: 330px) {
    #ilteam2 h1.bebas, #section-contact h1 {
      font-size: 40px;
    }
    #section-contact {
      padding-top: 45px;
    }
    #section-contact h1 {
      margin-bottom: 20px;
    }
}
